@media only screen and (min-width:280px) and (max-width:767px) and (orientation:portrait) {
    .mobile-warning {
        display: flex !important;
        width: auto;
        height: auto;
        position: absolute;
        background-color: black;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 100;
        font-size: 30px;
        color: tomato;
        margin: 0;
    }
}